<html lang="en">
{% load static %}
<head>
    <!link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Ubuntu&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>CHALLENGE_PAGE</title>
    <!-- demo scripts -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>
@font-face {
    font-family: 'Digital Num';
    font-style: normal;
    src: url(https://rawgit.com/GameDowload-lnc/Index/master/digital7.ttf);
}
@font-face {
    font-family: 'Digital Num';
    font-style: normal;
    src: url(https://rawgit.com/GameDowload-lnc/Index/master/digital7.woff);
}
body{
    background: url("{% static 'images/purty_wood.png'%}");
    background-repeat:repeat ;
    text-align:center;
   font-family:'Digital Num';color:black;
}
#header{
    font: 24px "Digital Num";
    margin:5px;
    border:2.25px  solid black;
    border-style: dashed;
 max-width:250px;
    width: auto;
   /* height: 100%;*/
    padding:10px;
    font-weight:bold;
    color: #a00;
    text-align: center;
}
</style>
</head>
<body>

<center> <p id="header">SEE THE TRAGIDIES !!</p></center>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Haritha (Eat biscuits without hands in a plate and make a fast forward video) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/lwo8xel6z8e1xan/VID-20200503-WA0048.mp4?dl=1" controls loop>
</video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by vivek Sai ( Prank call to Jogendra or satya propose him  ) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/fpr14fzfyriea5w/AUD-20200503-WA0044.aac?dl=1" controls loop>
   </audio></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by A Sri Harsha ( Draw any of u are favorate picture )!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/foyq3vpj1s8cfkp/WhatsApp%20Image%202020-05-03%20at%2012.35.17%20PM.jpeg?dl=1"></p>


<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Reshma Sai ( Have to sing a song ) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/qkq6rl0uvobhu5l/WhatsApp%20Audio%202020-05-03%20at%2012.00.45%20PM%20%281%29.mp4?dl=1" controls loop>
   </audio></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Jithendra ( put your crush pic in your status )!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/0fvdo1o3kl94x47/WhatsApp%20Image%202020-05-03%20at%2011.39.10%20AM.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Balaji ( traditional challenge )!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/asxbts9bggtx4k6/WhatsApp%20Image%202020-05-03%20at%2011.58.57%20AM.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Ratna Napier (Keep your crush/ lover name in status ...saying challenge accepted by secret frnd)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/9qv8nm49kz476jx/WhatsApp%20Image%202020-05-02%20at%208.02.48%20PM.jpeg?dl=1"></p>


<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by G.Anusha (tiktok video) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/gzkc34ggofnk8rh/WhatsApp%20Video%202020-05-02%20at%2010.15.50%20PM.mp4?dl=1" controls loop>
</video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Aasikha ( Sing a whole song of your favourite ) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/i4604aoqs7r6sx2/aasikha.ogg?dl=1" controls loop>
   </audio></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Mani Kiran (Best shot picture)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/337czdpbzwdqyer/WhatsApp%20Image%202020-05-02%20at%209.03.26%20PM.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Alekya (3 pairs clothes iron cheyyali including folding and make video) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/h7xq1jnxu7blfv6/alekya_final.mp4?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Aditya (Smiling pic)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/7p0iyj05k4lr18q/aditya.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Subha Mani (reading books..) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/3o2zso2s3c3cy8t/sssssssssssss.mp4?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Spandana (Post your childhood pic and dress traditonal pic)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/3ge4cpjab42337c/WhatsApp%20Image%202020-05-02%20at%208.13.45%20PM.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by ch.satish ( Make funny prank call to Balaji ) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/ok6e72oxqhas588/WhatsApp%20Audio%202020-05-02%20at%208.03.44%20PM.mpeg?dl=1" controls loop>
   </audio></p>


<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Nirmal Prasad ( Prank call to ManiKiran ) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/9jqg5k3s9pz1x20/WhatsApp%20Audio%202020-05-02%20at%2010.23.10%20PM?dl=1" controls loop>
   </audio></p>


<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Mahendra (Prank call to Balaji) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/vbdz06yg64wyeel/mahendra.mp4?dl=1" controls loop>
   </audio></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Charan (Nee counsellor ki call chesi na fee reimbursement money gurinchi adagali) !</p>
<p><audio style="height:30%;width:250px auto" src="https://www.dropbox.com/s/32z807pk85zx8uw/WhatsApp%20Audio%202020-05-02%20at%206.50.24%20PM.aac?dl=1" controls loop>
   </audio></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Manasa (Draw a neat sketch)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/uhl37pr4tazgqcv/WhatsApp%20Image%202020-05-02%20at%207.27.56%20PM%20%281%29.jpeg?dl=1"></p>


<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Deepthi (Eat biscuits without hands(by your mouth) in a plate) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/6664n4luhuzj84o/deepthi%20copy.mp4?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Mukesh (Post your dance tiktok video) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/9o7y3r05v5o2ktv/mukesh.mp4?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by J kavya (do cooking like this) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/bm07a3y6htyk5ny/WhatsApp%20Video%202020-05-02%20at%202.47.26%20PM?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Satya (Post a photo with and without mustache)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/cr95yj59s8tpuh7/WhatsApp%20Image%202020-05-02%20at%202.08.13%20PM.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Venkata satish Goud (cook any one hot item ) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/uldh3rw407nrin7/venkatasatish.mp4?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Ramya (cooking ) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/54vgzt3m58vzcli/ramya57.mp4?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Ch.Harsha (Post your loved one pic)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/ow1aplkfxz3qd4l/IMG_1786.jpg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Buela (Dance for ur fav hero song) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/mfcrobw8mnh7we9/buela_buela.3gpp?dl=1" controls loop>
   </video></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by B.Ramya  (stay home stay safe take a pic)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/x2101g7yhew45d2/WhatsApp%20Image%202020-05-01%20at%2010.37.18%20AM.jpeg?dl=1"></p>

<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by Gayathri (upload your crush photo as your status)!</p>
<p><img style="height:40%;width:250 px auto" src="https://www.dropbox.com/s/zjd57ghoh0n5ega/WhatsApp%20Image%202020-05-01%20at%201.14.50%20PM.jpeg?dl=1"></p>


<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by sai krishna (cook a sweet--------shakarpare sweet biscuts) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/mq3yfow6xcqhphz/krish_cook.mp4?dl=1" controls loop>
   </video></p>
<p style="font-family:'Nunito',serif;font-weight:bold"># Challenge completed by B.Lakshmi sai (should prepare any type of biryani) !</p>
<p><video style="height:30%;width:250px auto" src="https://www.dropbox.com/s/lyfrqnkvyg2w2wc/bl%20sai%20cooking.mp4?dl=1" controls loop>
   </video></p>



</body>
</html>