<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>FINISH</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
<div align='right'>
    <form name="logout" action="/logout/" method="post" accept-charset="utf-8" >
         {% csrf_token %}
    <button   type="submit" value="logout">LogOut</button>
    </form>
</div>
<center><img src="https://www.dropbox.com/s/fxyoq1xgc6t49gb/1588005336223.png?dl=1" class="center" display='block' margin-left='auto' margin-right='auto' width='50%'>
<p>hii {{user.first_name}} you done your job well! and now its time to me to tell a hint to you.But before that below
All the participant names are placed so you can pick one as your secret friend by ping the santa box.Then i will give the first hint of your secret friend to you.</p>

<section class="loginform cf">
    <form name="first_hint" action="/first_hint/" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <ul>
            <li><input type="submit" value="Santa_Box"></li>
        </ul>
    </form>
</section>

<!--section class="loginform cf">
    <form name="Total_Gifts" action="/firstApp/Total_Gifts/" method="post">
        {% csrf_token %}
        <ul>
            <li><label for="Total_Gifts">Final Submission</label>
            <input type="text" id="Total_Gifts" name="Friend_Name" placeholder="Enter your guessed Roll Number!!" required></li>
            <li><label for="password_Gifts">you can submitted it only once</label>
            <input type="password" id="password_Gifts" name="password_Gifts" placeholder="password" required></li>
            <li><input type="submit" value="submit"></li>
        </ul>
    </form>
</section-->

</div>
    <div align="center">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
{% else %}
<h1>Plz login first</h1>
{% endif %}
</body>
</html>