<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>FINISH</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
#header{
    font: 24px;
    margin:5px;
    border: 1.25px solid #000;
 max-width:300px;
    width: auto;
    height: 100%;
    padding:10px;
    font-weight:bold;
    color: #000;
    text-align: center;
}</style>
</head>
<body>
{% if user.is_authenticated %}

<div align='right'>
    <form name="logout" action="/logout/" method="post" accept-charset="utf-8" >
         {% csrf_token %}
    <button   type="submit" value="logout">LogOut</button>
    </form>
</div>
<center><img src="https://www.dropbox.com/s/ogexg4z8cjep3p0/1588474790794.png?dl=1" class="center" display='block' margin-left='auto' margin-right='auto' width='80%'>
<div id="header">
<p>Hello {{user.first_name}}<p> Ask Iron-Man about your third hint and password is 'hint3'</p> <p>Today who are not completed your challenge send your video or Audio or pic to admin depends on the challenge.</p><p> All the completed challenges will display on the
 home page</p><p>who are completed their challenges will get their second hint in home page</p>
</div></center>

    <div align="center">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
<center><section class="loginform cf">
    <form name="Final_Tasks" action="/firstApp/Final_Tasks/" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <ul>
            <li><input type="submit" value="Challenge Accepted"></li>
        </ul>
    </form>
</section></center>
{% else %}
<h1>Plz login first</h1>
{% endif %}
</body>
</html>