<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>FINISH</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if user.is_authenticated %}

<div align='right'>
    <form name="logout" action="/logout/" method="post" accept-charset="utf-8" >
         {% csrf_token %}
    <button   type="submit" value="logout">LogOut</button>
    </form>
</div>
<center><img src="https://www.dropbox.com/s/x41umqcks73d2yo/1588152841014.png?dl=1" class="center" display='block' margin-left='auto' margin-right='auto' width='50%'>
 <center>

<div id="header">
<p>hii {{user.first_name}} !</p><p> you got your hint1 and may be you got confussed with it.Don't worry about it let's play some game below their is a challenge form you can give
challenge to someone who got you as their secret friend.You can submit it any number of times before today 9 PM,last submission is considered as final challenge.The challenges should be related to tiktok,drawing,prank calls,cooking like this Acceptable
or performable challenges only be considered.What is the the use of the challenge,how to perform like these questions i will tell you tommorow.But,today u jst need to submit a challenge</p>
  </div>
<!--section class="loginform cf">
    <form name="second_hint" action="/firstApp/second_hint/" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <ul>
            <li><label for="pass_hint">If task is completed</label>
            <input type="text" id="pass_hint" name="pass_hint" placeholder="Enter password here !!!" required></li>
            <li><input type="submit" value="Task is completed"></li>
        </ul>
    </form>
</section-->
<section class="loginform cf">
    <form name="task" action="/firstApp/task/" method="post">
        {% csrf_token %}
        <ul>
            <li><label for="task">challenge to someone who got u as a secret friend</label>
            <input type="text" id="task" name="task_friend" placeholder="Enter a task here to send to your friend!!" required></li>
            <li><input type="submit" value="challenge"></li>
        </ul>
    </form>
</section>


</div>
    <div align="center">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
{% else %}
<h1>Plz login first</h1>
{% endif %}
</body>
</html>