<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>FINISH</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
#header{
    font: 24px;
    margin:5px;
    border: 1.25px solid #000;
 max-width:300px;
    width: auto;
    height: 100%;
    padding:10px;
    font-weight:bold;
    color: #000;
    text-align: center;
}</style>
</head>
<body>
{% if user.is_authenticated %}

<div align='right'>
    <form name="logout" action="/logout/" method="post" accept-charset="utf-8" >
         {% csrf_token %}
    <button   type="submit" value="logout">LogOut</button>
    </form>
</div>
<center><img src="https://www.dropbox.com/s/ik50h0srw6x9zx0/1588236459555.png?dl=1" class="center" display='block' margin-left='auto' margin-right='auto' width='50%'></center>
    <div align="center">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
{% else %}
<h1>Plz login first</h1>
{% endif %}
</body>
</html>